footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background: Linear-gradient(180deg, #58eb3a 26.71%,#f8f846 99.36%); */
    background-color: rgb(44, 44, 44);
    color: aliceblue;
    /* color: black; */
    padding-top: 20px;
}
.col{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    margin-bottom: 20px;
    
}
footer .logofooter {
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: bold;

}
footer p{
    font-size: 13px;
     margin: 0 0 4px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 7px;
    font-family: 'Varela Round',sans-serif; 
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: black;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow i:hover,footer a:hover{
    color: #088178;
}
.row img{
    border-radius: 6px;
    }
 #install img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.copyright {
    width: 100%;
    /* margin-left: 5px;
    margin-right: 300px; */
    text-align: center;
}